@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    /* colors */
    --back-color: rgb(10, 11, 14);
    --shadow-color: hsla(221.54, 14.94%, 17.06%, 100%);
    --first-color: hsla(354.41, 92.91%, 50.2%, 100%);
    --first-color-alt: hsla(354.39, 93.04%, 45.1%, 100%);
    --second-color: hsl(153.66, 100%, 40.2%);
    --font-color: hsla(0, 0%, 90.59%, 100%);

    /* size */
    --font-size-normal: 1em;
    --font-size-big: 1.2em;
    --font-size-small: .8em;
    --header-size: 4em;

    /* fixed */
    --zfixed: 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-normal);
    color: var(--font-color);
    background: linear-gradient(to left, black, var(--back-color));
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    margin-inline: 4em;
}

.section{
    padding-block: 5em;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: var(--back-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--first-color-alt);
}

/* header */
.header{
    position: relative;
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    font-size: var(--font-size-big);
    text-transform: uppercase;
    color: var(--font-color);
    letter-spacing: 1px;
}

.nav_logo strong{
    color: var(--first-color);
}

.nav_list{
    display: flex;
    align-items: center;
    height: var(--header-size);
    column-gap: 1em;
}

.nav_link{
    color: var(--font-color);
    font-size: var(--font-size-big);
    transition: color .3s ease;
}

.nav_link:hover{
    color: var(--first-color);
}

/* home */
.home{
    position: relative;
}

.home_container{
    text-align: center;
}

.home_container_title{
    font-size: var(--font-size-normal);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
}

#home_box_result_meta_value, #home_box_result_falta_value{
    color: var(--first-color);
}

#home_box_result_totaltask_value, #money{
    color: var(--second-color);
}

.home_container_title i{
    color: var(--first-color);
    font-size: var(--font-size-big);
}

.home_box_result{
    display: flex;
    justify-content: center;
    padding: 2em;
    column-gap: 4em;
}

.home_box_result_title{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home_box_schedule{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
    padding-block: 4em;
}

.home_box_schedule_button_box{
    display: flex;
    column-gap: .5em;
}

.home_box_schedule_box{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    width: 20%;
}

.home_box_schedule_button{
    padding: .5em;
    outline: none;
    border: 1px solid var(--second-color);
    background-color: transparent;
    color: var(--second-color);
    font-weight: 600;
    font-size: var(--font-size-normal);
    display: flex;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
}

.home_box_schedule_button:hover{
    color: var(--back-color);
    background-color: var(--second-color);
}

.remove{
    border: 1px solid var(--first-color);
    color: var(--first-color);
    transition: color .3s ease, background .3s ease;
}

.remove:hover{
    background-color: var(--first-color);
    color: var(--back-color);
}

.home_box_schedule_title{
    font-size: var(--font-size-normal);
    display: flex;
    align-items: center;
    font-weight: 100;
    letter-spacing: 1px;
    column-gap: .5em;
}

.home_box_schedule_title span{
    color: var(--first-color-alt);
}

/* selection */

/* animation */

/* point break */